* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #181818;
}
.header_section {
  display: flex;
  align-items: center;
}
.header a {
  transition: 0.4s ease-in-out;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.header_item {
  padding: 10px 15px;
}
.header_item:hover {
  border-radius: 14px;
  background-color: white;
}
.header_item:hover a {
  border-radius: 14px;
  color: black;
}
.HeaderLogo {
  padding: 18px 15px;
}
