* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #181818;
}
.header_section {
  display: flex;
  align-items: center;
}
header a {
  transition: 0.4s ease-in-out;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.header_item {
  padding: 10px 15px;
}
.header_item:hover {
  border-radius: 14px;
  background-color: white;
}
.header_item:hover a {
  border-radius: 14px;
  color: black;
}
.HeaderLogo {
  padding: 18px 15px;
}
#FirstBlock {
  padding-top: 466px;
  padding-bottom: 71px;
  text-align: center;
  background-image: url(img/IMAGE.svg);
  background-size: cover;
}

#FirstBlock h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 1px;
  text-transform: uppercase;
  color: #c0c0c0;
}
#FirstBlock h1 {
  max-width: 40vw;
  padding-bottom: 18px;
  line-height: 60px;
  font-weight: 400;
  font-size: 54px;
  color: #fff;
}
#FirstBlock p {
  color: #c0c0c0;
  font-size: 14px;
  max-width: 50vw;
}
.flexOne {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-right: -75vw;
}
.flexOneSection {
  display: flex;
  align-items: flex-start;
}
.flexItem a {
  color: #fff;
  font-size: 12px;
}

.flexItem {
  padding: 0 5px;
}
#SecondBlock {
  background-color: black;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-bottom: 100px;
}
#SecondBlock h1 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding-top: 112px;
}
#SecondBlock h2 {
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #c0c0c0;
  padding-top: 15px;
  padding-bottom: 42px;
}
#SecondBlock h3 {
  font-size: 14px;
  height: 3vw;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  padding-bottom: 0.7vw;
  width: 40vw;
}
#SecondBlock p {
  font-size: 14px;
  height: 3vw;
  color: #c0c0c0;
  font-weight: 400;
  padding-bottom: 4vw;
  width: 40vw;
}
.btn {
  width: 7vw;
}
.MFI {
  display: inline-block;
  margin: 1vw;
  background-image: url(img/image.png);
  width: 40vw;
  height: 40vw;
  padding-top: 30vw;
  padding-left: 1vw;
  padding-bottom: 5vw;
  background-size: cover;
}
.MFIOne {
  background-image: url(img/imageOne.png);
  width: 40vw;
  height: 40vw;
  background-size: cover;
  padding-top: 30vw;
  padding-left: 1vw;
  margin: 1vw;
  padding-bottom: 5vw;
  display: inline-block;
}
.MFITwo {
  display: inline-block;
  background-image: url(img/imageTwo.png);
  width: 40vw;
  height: 40vw;
  padding-top: 30vw;
  padding-left: 1vw;
  background-size: cover;
  margin: 1vw;
}
.MFIThree {
  display: inline-block;
  background-image: url(img/imageThree.png);
  width: 40vw;
  height: 40vw;
  padding-top: 30vw;
  padding-left: 1vw;
  background-size: cover;
  margin: 1vw;
}
.middleFLex {
  flex-shrink: 2;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
#ThirdBlock {
  background-image: url(img/fuji.svg);
  background-size: cover;
  text-align: left;
  width: 100%;
  height: 42vw;
  padding-top: 20vw;
  padding-left: 75vw;
}
#ThirdBlock h3 {
  text-align: left;
  width: 20vw;
  height: 1.5vw;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#ThirdBlock p {
  width: 20vw;
  height: 4.2vw;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #c0c0c0;
}
.flexTwo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10vw;
}
.FTS {
  display: flex;
  align-items: flex-start;
}
#FourthBlock {
  display: flex;
}
.FBT {
  display: inline-block;
  width: 50%;
  height: 42vw;
  background-color: black;
  padding-top: 10vw;
  padding-left: 10vw;
  padding-right: 10vw;
}
.FBP {
  display: inline-block;
  width: 50%;
  height: 42vw;
  background-image: url(img/fourthBlockImg.svg);
  background-size: cover;
  padding-top: 27vw;
  padding-left: 25vw;
}
.FBT h2 {
  width: 100%;
  height: 1.5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  color: #c0c0c0;
  text-transform: uppercase;
  margin-bottom: 2vw;
}
.FBT h1 {
  width: 100%;
  height: 3vw;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: #fff;
  margin-bottom: 4vw;
}
.FBT p {
  width: 100%;
  line-height: 20px;
  height: 5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  color: #fff;
  margin-bottom: 4vw;
}
.sBtn {
  margin-top: 1vw;
}
#FifthBlock {
  background-image: url(img/paporotnik.svg);
  background-size: cover;
  text-align: left;
  width: 100%;
  height: 42vw;
  padding-top: 20vw;
  padding-left: 75vw;
}
#FifthBlock h3 {
  text-align: left;
  width: 20vw;
  height: 1.5vw;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#FifthBlock p {
  width: 20vw;
  height: 4.2vw;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #c0c0c0;
}
#BlockSix {
  width: 100%;
  height: 42vw;
  background-color: black;
  text-align: center;
  padding-top: 10vw;
  padding-left: 5vw;
  padding-right: 5vw;
}
#BlockSix h1 {
  width: 30vw;
  height: 1vw;
  font-size: 3vw;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #fff;
}
#BlockSix h2 {
  width: 30vw;
  height: 1vw;
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #c0c0c0;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.FlexThree {
  display: flex;
  height: 20vw;
  width: 100%;
  justify-content: center;
  padding: 10px;
}
.FTSTwo {
  display: flex;
  height: 20vw;
  width: 100%;
  align-items: center;
}
.FlexItemLogo {
  display: flex;
  object-fit: contain;
  padding: 0 5px;
  width: 5vw;
  height: 10vw;
  align-self: baseline;
}
#SevenBlock {
  background-image: url(img/starFall.svg);
  background-size: cover;
  text-align: left;
  width: 100%;
  height: 42vw;
  padding-top: 20vw;
  padding-left: 75vw;
}
#SevenBlock h3 {
  text-align: left;
  width: 20vw;
  height: 1.5vw;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#SevenBlock p {
  width: 20vw;
  height: 4.2vw;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #c0c0c0;
}
#BlockEight {
  width: 100%;
  height: 35vw;
  background-color: black;
  text-align: center;
  padding-top: 10vw;
}
#BlockEight h1 {
  width: 50vw;
  font-family: "Poppins", sans-serif;
  font-size: 3vw;
  color: #fff;
  font-weight: 250;
}
#BlockEight h2 {
  width: 50vw;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  color: #c0c0c0;
  font-weight: 250;
  margin-bottom: 5vw;
}
footer {
  background-color: black;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 10vw;
  background-color: black;
}
.footer_section {
  display: flex;
  align-items: center;
}
footer a {
  transition: 0.4s ease-in-out;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
footer p {
  color: #c0c0c0;
}

.liHeader a {
  text-transform: uppercase;

  color: #c0c0c0;
}
.EFI {
  padding: 10px 15px;
}
.footer_section li {
  margin: 1vw;
}
.footer_section ul {
  margin-top: 6vw;
}
.hr {
  margin-left: 5vw;
  height: 2px;
  width: 90vw;
}
.email {
  margin-left: 60vw;
  margin-top: -2vw;
  margin-bottom: 1vw;
  width: 20vw;
}
footer h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  font-size: 1vw;
  padding-top: 1vw;
  padding-left: 5vw;
}
footer h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #c0c0c0;
  font-size: 0.8vw;
  padding-top: 1vw;
  padding-left: 5vw;
}
