* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #181818;
}
.header_section {
  display: flex;
  align-items: center;
}
.header a {
  transition: 0.4s ease-in-out;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.header_item {
  padding: 10px 15px;
}
.header_item:hover {
  border-radius: 14px;
  background-color: white;
}
.header_item:hover a {
  border-radius: 14px;
  color: black;
}
.HeaderLogo {
  padding: 18px 15px;
}
.headerImage {
  padding-top: 466px;
  padding-bottom: 71px;
  text-align: center;
  background-image: url(img/IMAGE.svg);
  background-size: cover;
}
.headerImage h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 1px;
  text-transform: uppercase;
  color: #c0c0c0;
}
.headerImage h1 {
  max-width: 40vw;
  padding-bottom: 18px;
  line-height: 60px;
  font-weight: 400;
  font-size: 54px;
  color: #fff;
}
.headerImage p {
  color: #c0c0c0;
  font-size: 14px;
  max-width: 50vw;
}
.flexOne {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-right: -75vw;
}
.flexOneSection {
  display: flex;
  align-items: flex-start;
}
.flexItem a {
  color: #c0c0c0;
  font-size: 12px;
}

.flexItem {
  padding: 0 5px;
}
.middleBlock {
  background-color: black;
}
.middleBlock h1 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding-top: 112px;
}
.middleBlock h2 {
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #c0c0c0;
  padding-top: 15px;
  padding-bottom: 42px;
}
.middleFlex {
  display: flex;
}
.middleFlexSection {
  display: flex;
  align-items: space-between;
  flex-wrap: wrap;
  height: 1300px;
  width: 1215px;
}
.middleFlexItem {
  padding: 10px 15px;
}
.middleFLexItemOne {
  background: url(/img/imageOne.svg);
  background-color: transparent;
}
